<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://java.sun.com/xml/ns/javaee"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:s="urn:java:seam:core"
       xmlns:security="urn:java:org.jboss.seam.security"
       xmlns:idm="urn:java:org.jboss.seam.security.management"
       xmlns:seamspace="urn:java:org.jboss.seam.security.examples.seamspace"
       xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                           http://java.sun.com/xml/ns/javaee/beans_1_0.xsd">
                           
   <!--idm:IdentityManager>
      <s:extends/>
      <idm:identityStore>
         <s:Inject/>
         <s:New>org.jboss.seam.security.management.JpaIdentityStore</s:New>
      </idm:identityStore>
   </idm:IdentityManager-->
   
</beans>
